a {
  color: $brand-teal;

  &:hover,
  :active {
    color: $brand-color-primary-offset;
  }
}

img {
  &.img-fluid {
    max-width: 100%;
    height: auto;
  }

  &.cover {
    object-fit: cover;
    object-position: center top;
  }

  &.border {
    border: $brand-teal 5px solid;
  }
}

iframe {
  display: block;
  margin: 0 auto;
}