<div id="map-trigger"></div>
<div class="spacer"></div>
<div id="map-pin" class="map-container">
  <div id="map">
  </div>
</div>
<script>
  const api = '{{ env.mapbox_token }}';
  const geojson = {
    type: 'FeatureCollection',
    features: [
      {% for locations in artist.locations %}
        {% for item in locations.location %}
          {
            type: 'Feature',
            geometry: {
              type: 'Point',
              coordinates: {
                lng: {{ item.locationFieldGroup.address.longitude }},
                lat: {{ item.locationFieldGroup.address.latitude }}
              },
            },
            properties: {
              title: '{{item.title}}',
              id: '{{ item.databaseId }}',
              address: '{{ item.locationFieldGroup.address.streetAddress }}',
            }
          },
        {% endfor %}
      {% endfor %}
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: {
            lng: -84.44044880777467,
            lat: 33.73519800578533,
          },
        },
        properties: {
          title: 'Reverb Hotel',
          id: 999999,
          address: '89 Olympic Park Dr. NW Atlanta, GA 30313',
        }
      },
    ]
  };
</script>