<div class="embla" id="embla">
  <div class="embla__container">
    {% for item in artists %}
      <div class="embla__slide">
        <img src="{{ item.img }}" width="341" height="210" alt="" srcset="{{ item.srcSet }}">
        <h3>{{ item.title }}</h3>
        <a href="{{ item.uri }}">View Curated Guide</a>
      </div>
    {% endfor %}
  </div>
</div>