<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <div class="small-menu">
            <div>Copyright &copy; {{ build.timestamp | dateToFormat('yyyy') }} Reverb Hotels All rights reserved</div>
            <div class="social-links"><a href="https://www.facebook.com/OfficialReverbHotels/">{% include 'facebook-f.svg' %}</a><a href="https://www.instagram.com/reverb.hotels/">{% include 'instagram.svg' %}</a></div>
        </div>
        <ul class="large-menu">
            <li><a href="https://www.reverbhotels.com">REVERB HOTELS</a></li>
            <li><a href="https://reverb.hardrockhotels.com/privacy-policy.aspx">PRIVACY POLICY</a></li>
        </ul>
    </div>
</footer>