<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>Copyright &copy; {{ build.timestamp | dateToFormat('yyyy') }} Reverb Hotels All rights reserved</span>
        <div>REVERB HOTELS | LEGAL DISCLAIMER | PRIVACY POLICY | TERMS & CONDITIONS | ABOUT SOUNDTRACKS</div>
    </div>
</footer>