<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <img src="{{ '/assets/images/logo.jpg' | url }}">
            <div class="header__address">
                <div class="header__title">DOWNTOWN ATLANTA</div>
                <div class="header__subtitle">89 OLYMPIC PARK DR. NW ATLANTA, GA 30313</div>
            </div>
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>