<header class="header" role="banner">
    <div class="header__inner container">
        <div class="header__left">
            <a href="/">
                <img src="{{ '/assets/images/logo.jpg' | url }}">
            </a>
            <div class="header__address u-desktop-only">
                <div class="header__title">DOWNTOWN ATLANTA</div>
                <div class="header__subtitle">89 OLYMPIC PARK DR. NW ATLANTA, GA 30313</div>
            </div>
            <a href="#" class="nav__btn"><span class="nav__cta">Get A Room</span><span class="nav__label">Book Direct</span></a>
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>