<h1><span class="top-line">Area Guide</span><br>Downtown Atlanta</h1>
<div class="guide-container">
  {% include "map.njk" %}
  {% set locations = home.locations %}  
  {% include "locations.njk" %}
</div>