<div id="map-trigger"></div>
<div id="map-pin" class="map-container">
  <div id="map">
  </div>
</div>
<script>
  const api = '{{ env.mapbox_token }}';
  const locations = [
    {% for item in home.locations %}
      {
        'coordinates': [{{ item.longitude }},{{ item.latitude }}],
        'title': '{{item.title}}',
        'id': '{{ item.locationId }}',
        'address': '{{ item.address }}',
      },
    {% endfor %}
  ];
  
  const geojson = {
    type: 'FeatureCollection',
    features: [
      {% for item in home.locations %}
        {
          type: 'Feature',
          geometry: {
            type: 'Point',
            coordinates: {
              lng: {{ item.longitude }},
              lat: {{ item.latitude }}
            },
          },
          properties: {
            title: '{{item.title}}',
            id: '{{ item.locationId }}',
            address: '{{ item.address }}',
          }
        },
      {% endfor %}
      {
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: {
            lng: -84.44044880777467,
            lat: 33.73519800578533,
          },
        },
        properties: {
          title: 'Reverb Hotel',
          id: 999999,
          address: '89 Olympic Park Dr. NW Atlanta, GA 30313',
        }
      },
    ]
  };
</script>