<div id="map"></div>
<script>
  mapboxgl.accessToken = '{{ env.mapbox_token }}';
  const map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/pandabrand/ckelgww4m04z719o6s8xidzsw', // stylesheet location
      //center: [-84.391024, 33.761738], // starting position [lng, lat] Atlanta
      center: [-0.02, 51.528308], //[-0.3817765, 51.528308]
      zoom: 9 // starting zoom
  });

  map.on('load', function() {
    map.loadImage(
      '{{ "/assets/images/map_icon-hr.png" | url }}',
      function( error, image ) {
        if(error) throw error;
        map.addImage( 'custom-marker', image );
        map.addSource('points', {
          'type': 'geojson',
          'data': {
            'type': 'FeatureCollection',
            'features': [
              {% for item in home.locations %}
                {
                  type: 'Feature',
                  geometry: {
                    type: 'Point',
                    coordinates: [{{ item.longitude }},{{ item.latitude }}]
                  },
                  'properties': {
                    'title': '{{ item.title }}'
                  }
                },
              {% endfor %}
            ]
          }
        });

        map.addLayer({
          'id': 'points',
          'type': 'symbol',
          'source': 'points',
          'layout': {
            'icon-image': 'custom-marker',
            'text-field': ['get', 'title'],
            'text-offset': [0, 1.25], 
            'text-anchor': 'top'
          }
        });
      }
    )
  });

</script>