.footer {
    font-size: 0.875rem;
    padding: $spacing-y 0;
    background-color: $bg-color;

    @include mq-down(md) {
        font-size: 0.775rem;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        
        @include mq-down(lg) {
            flex-direction: column-reverse;
        }

        .small-menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex: 1 50%;
            
            @include mq-down(lg) {
                flex-direction: column-reverse;
            }
            
            .social-links {
                display: inline;
                
                @include mq-down(lg) {
                    display: inline-flex;
                    justify-content: center;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }

                a {
                    padding-right: 1rem;

                    &:last-of-type {
                        padding: 0;
                    }
                }

                svg {
                    height: 28px;
                    vertical-align: middle;

                    &:first-of-type {
                        fill: $text-color;
                    }

                    &:last-of-type {
                        stroke: $text-color;
                        stroke-width: 1rem;
                    }
                }
            }
        }
        .large-menu {
            flex: 1 50%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            @include mq-down(lg) {
                flex-direction: column;
                justify-content: center;
            }

            li {
                border-right: 1px solid $text-color;
                padding: 0 0.5rem;
                display: inline-flex;
                justify-content: flex-start;
                
                @include mq-down(lg) {
                    justify-content: center;
                    border-right: none;
                    padding: 1rem 0;
                }

                &:last-of-type {
                    border-right: none;
                    padding-right: 0;
                }
            }

            a {
                text-decoration: none;
                color: $text-color;
            }
        }
    }
}
