.home {
  ul {
    &:first-of-type {
      margin-bottom: 6rem;
    }
  }

  .card {
    .body {
      a {
        display: none;
      }
      
      .links {
        a {
          display: block !important;
        }
      }
    }
  }
}