.home {
  ul {
    &:first-of-type {
      margin-bottom: 6rem;
    }
  }

  .card {
    .body {
      a {
        display: none;

        &.show {
          display: inline;
        }
      }

      .links {
        a {
          display: inline;
        }
      }
    }
  }
}