.nav {
    &__menu {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        background-color: #000;
    }
    &__link {
        display: block;
        padding: 0.5em 1em;
    }
    &__toggle {
        @include button-reset;
        padding: 0 0.5rem;
        transform: translateY(50%);
    }

    &.is-open &__menu {
        display: block;
    }

    &__btn {
        background-color: $brand-teal;
        color: #000;
        text-align: center;
        text-transform: uppercase;
        display: inline-flex;
        flex-direction: column;
        margin-top: -0.5rem;
        padding: 1rem 1.25rem;
        line-height: 1;
        text-decoration: none;
    }

    &__cta {
        font-family: $font-family-serif;
    }

    &__label {
        font-weight: 300;
    }
}
