.card-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 10rem;

  @include mq-down(lg) {
    display: flex;
    flex-direction: unset;
    justify-content: unset;
    align-content: unset;
  }
}

.card {
  width: 272px;

  &.column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100%;
  }
  
  h2 {
    font-family: $font-family-serif;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 1.2rem;
    margin-bottom: 2.4rem;
  }

  .body {
    font-size: 0.875rem;
    margin-bottom: 1.9rem;
  }

  &.location {
    width: 100%;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: $bg-color;

    .img-container {
      flex: 50%;
    }

    .body {
      padding: 1rem;

      h2 {
        margin-bottom: 0;
      }
    }
  }

  &-image {
    height: 170px;
    width: 100%;
  }

  .column-link {
    margin-top: auto;
  }
}