.hero {
  position: relative;
  width: 100vw;
  left: -50vw;
  right: -50vw;
  margin-left: 50%;
  margin-right: 50%;

  &-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center top;

    @include mq-down(lg) {
      height: 250px;
    }
  }
  
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: rgba(0, 0, 0, 1.0);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(12, 12, 12, 0.2), rgba(255, 255, 255, 0));
  }

  h1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    z-index: 10;
  }
}