---
layout: base
permalink: /about/
eleventyNavigation:
  key: About
---

<div class="container about">
  <h1><span class="top-line">Curated</span><br>Area Guides</h1>
  <p class="u-align-center">Head out on foot and move to the rhythm of Atlanta's entertainment district. Hit live music venues, restaurants, and all the Downtown attractions. See what the local publications have to say about Atlanta:</p>
  <ul class="link-list">
    <li><a href="#">Thrillist</a></li>
    <li><a href="#">Timeout</a></li>
    <li><a href="#">Atlanta Magazine</a></li>
  </ul>
  <p class="u-align-center">Or if you’re curious what trendy hot spots that local artists prefer, then check out these currated area guides:</p>
  <ul class="link-list">
    <li><a href="#">View All Artists</a></li>
    <li><a href="#">View All Guides</a></li>
  </ul>
  {% include "artist-slider.njk" %}
</div>
